<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Add New User</div>
                <div class="card-body">
                    <form th:action="@{/admin/new}" th:object="${userDto}" method="post">
                        <div class="form-group">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter first name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="rolesSelect">Roles</label>
                            <select class="form-control" id="rolesSelect" th:field="*{roles}" multiple>
                                <option th:each="role : ${rolesList}" th:value="${role.name}" th:text="${role.name}"
                                        th:selected="${userDto.roles?.contains(role.name)}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Add new user</button>
                        <a th:href="@{/admin/list}" class="btn btn-secondary">Back to User List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS  -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>